<!--Form for cluster creation over Rackspace-->
{% extends 'base.html' %}

{% block content %}
<h3>Create Nodes</h3>
  <div id="timeoutMessage">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<form action="{{ url_for('get_node_data') }}" method="post">
  <div class='row'>
    <div class="form-group col-md-5">
       <label for="node_name">Machines label</label>
       <input type="text" class="form-control" name="node_name" data-toggle="tooltip" title='Should not contain any special characters except underscore' required>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-md-5">
      <label for="image">Image type</label>
      <select class="form-control" name="image">
        <option value="CentOS 7 (PVHVM)">CentOS7</option>
        <option value="centos7-devel">CentOS7-devel</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-md-5">
      <label for="hours">Number of hours</label>
      <select class="form-control" name="hours">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>
  <div class="row">
     <div class="form-group col-md-5">
       <label for="counts">Number of machines</label>
       <input type="number" min="1" max="{{n}}" class="form-control" name="counts">
       <p><small id="maximumAllowedMachines" class="text-muted">
          Note: Maximum 5 machines at a time across all users
       </small></p>
    </div>
  </div>
  <div class='row'>
    <div class="form-group">
      <div class="col-md-5">
        <label for="publicKey">Upload SSH public key</label>
        <textarea class="form-control" name="pubkey" rows="3"></textarea>
      </div>
    </div>
  </div>
  <br/>
  <button type="submit" class="btn btn-info btn-lg">CREATE</button>
</form>

<script>
  setTimeout(function() {
          $('#timeoutMessage').fadeOut('fast');
        }, 3000);

  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock content %}
