<!--Form for cluster creation over Rackspace-->
{% extends 'base.html' %}

{% block content %}
<h3>Create Nodes</h3>
  <div id="timeoutMessage">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<form action="{{ url_for('get_node_data') }}" method="post">
  <div class='row'>
    <div class="form-group col-md-5">
       <label for="node_name">Machines label</label>
       <input type="text" class="form-control" name="node_name" data-toggle="tooltip" title='Should not contain any special characters except underscore' required>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-md-5">
      <label for="os_type">OS</label>
      <select class="form-control" name="os_type">
        <option value="Centos-7">Centos-7</option>
        <option value="Centos-8">Centos-8</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-md-5">
      <label for="hours">Number of hours</label>
      <select class="form-control" name="hours">
      {% for hour in range(1,max_hours+1) %}
        <option value={{hour}}>{{hour}}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-5">
      <label for="counts">Number of machines</label>
      <select class="form-control" name="counts">
      {% for count in range(1,n+1) %}
        <option value={{count}}>{{count}}</option>
      {% endfor %}
      </select>
      <p><small id="maximumAllowedMachines" class="text-muted">
        Note: Maximum 5 machines at a time across all users
      </small></p>
    </div>
  </div>
  <div class='row'>
    <div class="form-group">
      <div class="col-md-5">
        <label for="publicKey">SSH public key</label>
        <textarea class="form-control" name="pubkey" rows="3" required>{{pubkey}}</textarea>
      </div>
    </div>
  </div>
  <br/>
  <button type="submit" class="btn btn-info btn-lg">CREATE</button>
</form>

<script>
  setTimeout(function() {
          $('#timeoutMessage').fadeOut('fast');
        }, 3000);

  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock content %}
