<!--Form for cluster creation over Rackspace-->
{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Softserve</a>
    </div>
		<ul class="nav navbar-nav">
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if 'token' in session %}
        <li class="dropdown">
          <a class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            {{ g.user.name }}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
<h3><strong>Welcome {{ g.user.name }}. Enter the info.</h3>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div class="alert alert-warning">
        <li>{{ message }}</li>
      </div>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <form action="/create_node" method="post">
  <div class='row'>
    <div class="form-group col-md-5">
       <label for="node_name">Machines label</label>
			 <input type="text" class="form-control" name="node_name">
    </div>
  </div>
  <div class='row'>
		<div class="form-group col-md-5">
      <label for="hours">Number of hours</label>
			<select class="form-control" name="hours">
  			<option value="1">1</option>
  			<option value="1">2</option>
  			<option value="1">3</option>
  			<option value="1">4</option>
			</select>
    </div>
  </div>
  <div class="row">
	   <div class="form-group">
       <div class="col-md-5">
         <label for="counts">Number of machines</label>
				 <input type="text" class="form-control" name="counts">
         <small id="maximumAllowedMachines" class="text-muted">
            Limit: 5 machines at a time
         </small>
			</div>
		</div>
  </div>
  <div class='row'>
    <div class="form-group">
      <div class="col-md-5">
        <label for="publicKey">Upload SSH public key</label>
  			<textarea class="form-control" name="pubkey" rows="3"></textarea>
      </div>
    </div>
  </div>
  <br/>
  <button type="submit" class="btn btn-info btn-lg">CREATE</button>
</form>
</div>
{% endblock %}
