<!--Form for cluster creation over Rackspace-->
{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Softserve</a>
    </div>
		<ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        {% if 'token' in session %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ g.user.name }}
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
<h3><strong>Welcome {{ g.user.name }}. Enter the info.</h3>
<form action='/create-node' method="POST">
  <div class='row'>
    <div class="form-group col-md-5">
       <label for="node_name">Machine name</label>
			 <input type="text" class="form-control" id="node_name">
     </div>
  </div>
  <div class='row'>
		<div class="form-group col-md-5">
      <label for="hours">Number of hours</label>
			<select class="form-control" id="hours">
  			<option>1</option>
  			<option>2</option>
  			<option>3</option>
  			<option>4</option>
			</select>
    </div>
  </div>
  <div class="row">
	   <div class="form-group">
       <div class="col-md-5">
         <label for="counts">Number of machines</label>
				 <input type="text" class="form-control" id="counts">
         <small id="maximumAllowedMachines" class="text-muted">
            Limit: 5 machines at a time
         </small>
			</div>
		</div>
  </div>
  <div class='row'>
    <div class="form-group">
      <div class="col-md-5">
        <label for="publicKey">Upload SSH public key</label>
  			<textarea class="form-control" id="pubkey" rows="3"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">CREATE</button>
</form>
</div>
{% endblock %}
