body, html {
    width: 100%;
    height: 100%;
}

.img{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #4A4A4A;
  background: url(../img/GlusterFS-1.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  opacity: 0.2;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #aec251;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #4A4A4A;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #4A4A4A;
    background: url(../img/GlusterFS-1.jpg) no-repeat center center;

    z-index: -1
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.btn-logout {
  width: 100%;
  padding: 3px 20px !important;
  text-align: left !important;
}

.panel-body {
  padding: 15px;
}

.panel-body::after, .panel-body::before{
  box-sizing: border-box;
}

.table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

}
table {

    background-color: transparent;

}
table {

    border-collapse: collapse;
    border-spacing: 0;

}
