<!--Form for cluster creation over Rackspace-->
{% extends 'layout.html' %}

{% block body %}

<center>
	<h1><strong>Welcome.Enter the cluster info.</h1>
		<div id="box">
			<form action='/create_node' enctype="multipart/multipart/form-data" method="post">
				<fieldset>
					<p><b>ENTER YOUR REDHAT ID<br>
						<input type="text" name="rid"></b></p>
					<p><b>ENTER THE CLUSTER NAME<br>
						<input type="text" name="cluster_name"></b></p>
						<p><b>ENTER THE NUMBER OF NODES<br>
							<input type="text" name="counts"></b></p>
						<p><b>ENTER THE LIFE OF CLUSTER(IN HOURS)<br>
							<input type="text" name="hours"></b></p>
						<p>
							<div id="btn-round">
								<label for="uploadfile" class="btn">UPLOAD</label>
     						<center><input type="file" id="uploadfile" style="visibility:hidden; name="filename" value="UPLOAD YOUR OWN PUBLIC KEY"/></center>
							</div>
						</p>
						<p><input type="submit" value="CREATE MY CLUSTER"></p>
				</fieldset>
			</form>
		</div>

	</center>
<script>
$("#btn-round").click(function () {
	$("#uploadfile").click();
});
</script>
{% endblock %}
